<div class="<%= class_name %>">
  <a href="https://github.com/dcolucci" target="_blank">
    <%= image_tag('GitHub-Mark-64px.png', size: '32', alt: 'David Colucci GitHub') %>
  </a>
  <a href="https://www.linkedin.com/in/david-colucci-26bb7673" target="_blank">
    <%= image_tag('Linkedin.svg', size: '32', alt: 'David Colucci LinkedIn') %>
  </a>
  <a href="https://www.instagram.com/dac74" target="_blank">
    <%= image_tag('IG.svg', size: '32', alt: 'David Colucci Instagram') %>
  </a>
</div>
