<section class="page-header">
  <h1>David Colucci</h1>
  <div class="page-header__box"></div>
  <aside class="page-header__social"></aside>
  <nav class="page-header__nav">
    <a href="/about">About me</a>
    <a href="/experience">Experience</a>
  </nav>
</section>
