<a href="/">davidcolucci.com</a>
<div class="post-page__header__divider"></div>
<%= time_tag @page.updated_at.to_date, class: 'post-page__header__pubdate' %>
<%= render '/refinery/content_page' %>
<a href="/">home</a>
